<div class="container-fluid font">
  <%= render "shared/homebar"%>
  <div class="row bg-grey">
    <%= render "shared/manage" %>
    <div class="col-sm-9 col-12 p-3">
      <div class="col bg-white pb-3 mb-5 row">
        <div class="row my-3">
          <div class="col-11 row my-2 mx-1">
            <% @content.each do |content| %>
              <%= render partial: "block_admin_album", locals: {content: content}%>
            <% end %>
          </div>
        </div>
        <%= render partial: "shared/paginate", locals: {content: @content}%>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<script>
    $("a[name='admin_album']").addClass('text-color')
    $("a[name='admin_album']").removeClass('text-secondary')
</script>
