<div class="col-sm-6 col-12 row bg-grey py-2 rounded shadow pr-0 mb-2">
  <div class="col-sm-6 col-12 pl-n1" >
    <%= image_tag content.image.thumb.url, {class: "img-fluid img-thumbnail", style: "width: 100%"} %>
  </div>
  <div class="col-sm-6 col-12 row pr-0">
    <%= render partial: "shared/user_display", locals: {content: content}%>
    <%= render partial: "shared/content_details_guest", locals: {content: content}%>
  </div>
</div>
