<div class="col-sm-6 col-12 row bg-grey py-2 rounded shadow pr-0 mb-2">
  <%= render partial: "shared/album_display", locals: {content: content}%>
  <div class="col-sm-6 col-12 row mr-0 pr-0">
    <%= render partial: "shared/user_display", locals: {content: content}%>
    <%= render partial: "shared/content_details", locals: {content: content, content_type: content_type}%>
  </div>
</div>
