<div class="row align-items-center col-12 mr-0 pr-0 justify-content-between" name="info-part">
  <div class="col-auto row">
    <div class="row col-auto">
      <% if content.user.avatar.file.nil? %>
        <button class="rounded-circle chosen border-0"><%= content.user.avatar_name%></button>
      <% else %>
        <%= image_tag content.user.avatar.avatar.url, {class: "rounded-circle img-fluid"} %>
      <% end %>
      <a href="<%= user_path(content.user.id)%>" class="btn font-size pl-1 "><%= content.user.name%></a>
    </div>
  </div>
</div>
